form {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2vw 5vw;
  color: #000;
}

h1 {
  font-size: 13vw;
  text-wrap: nowrap;
  font-weight: 600;
  text-align: left;
  color: black;
  margin: 5vw 0;
  margin-bottom: 1vw;
}

h4 {
  font-size: 4vw;
  margin: 1vw 0;
  margin-top: 5vw;
}

input,
textarea {
  display: block;
  width: 100%;
  outline: none;
  padding: 1.5vw 3vw;
  background-color: #fff;
  border-radius: 1vw;
}

select {
  background-color: #fff;
  border-radius: 1vw;
  padding: 1.5vw 3vw;
}

button {
  background-color: #f56607;
  color: white;
  padding: 1.8vw 0;
  border-radius: 1vw;
  margin-top: 10vw;
}

small {
  font-size: 2.5vw;
  margin-top: 1vw;
  color: red;
}

@media (min-width: 1020px) {
  form {
    padding: 1vw 2vw;
    width: 70vw;
    padding-bottom: 2vw;
  }

  h1 {
    font-size: 5.5vw;
    line-height: 1;
    margin: 2vw 0;
    margin-bottom: 1vw;
  }

  h4 {
    font-size: 1.5vw;
    margin: 1vw 0;
    margin-top: 3vw;
  }

  input,
  textarea {
    padding: 1vw 1.5vw;
  }

  select {
    background-color: #fff;
    border-radius: 1vw;
    padding: 1.5vw;
  }

  button {
    background-color: #f56607;
    color: white;
    padding: 0.5vw 0;
    border-radius: 1vw;
    font-size: 1.3vw;
    margin-top: 3vw;
  }

  small {
    font-size: 1vw;
    margin-top: 0.5vw;
  }
}
