.notfound {
  font-size: 8vw;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1020px) {
  .notfound {
    font-size: 6vw;
  }
}
