.rec {
  /* background-color: #f1f1f1; */
  background-color: #fff;
  min-height: 82vw;
  width: 46vw;
  padding: 3vw 2.5vw;
  border-radius: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

.img-div {
  width: 100%;
  height: 35vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1vw;
}

h2 {
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-weight: 400;
  margin: 2vw 0;
}

.fewdetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5vw;
  margin: 1.5vw 0;
}

.minidiv {
  border: 0.1vw solid #f56607;
  padding: 0.5vw 2vw;
  border-radius: 10vw;
  text-align: center;
}

h5 {
  font-size: 3vw;
  color: #f56607;
}

.rec p {
  font-size: 3.3vw;
  line-height: 3.5vw;
  height: fit-content;
  margin-top: 1vw;
  opacity: 70%;
}

.btn {
  height: 7vw;
  margin-top: 2vw;
}

.btn h3 {
  font-size: 4.5vw;
  font-weight: 400;
  color: #f56607;
}

.my-btn {
  background-color: #f56607;
  height: 7vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0.8vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-out;
}

@media (min-width: 1020px) {
  .rec {
    min-height: 0vw;
    max-height: 28vw;
    width: 18vw;
    padding: 0.85vw;
    border-radius: 1vw;
    align-items: stretch;
  }

  .rec:hover {
    scale: 100.5%;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .img-div {
    height: 10vw;
  }

  h2 {
    font-size: 1.8vw;
    line-height: 1;
    font-weight: 500;
    margin: 0.5vw 0;
  }

  .fewdetails {
    gap: 1vw;
    margin: 0vw;
  }

  .minidiv {
    padding: 0.1vw 0.5vw;
    margin: 0.3vw 0;
  }

  .minidiv:hover {
    background-color: #f56607;
    scale: 105%;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .minidiv:hover h5 {
    color: white;
  }

  h5 {
    font-size: 0.85vw;
  }

  .rec p {
    font-size: 1.05vw;
    line-height: 1;
    margin: 0;
    margin-top: 0.7vw;
  }

  .btn {
    height: 1.9vw;
    display: flex;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: .1vw;
  }

  .btn h3 {
    font-size: 1.6vw;
    margin: 0;
  }

  .my-btn {
    background-color: #f56607;
    height: 2vw;
    width: 6.5vw;
    border-radius: 10vw;
    padding: 0 0.8vw;
    margin: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease-out;
  }

  .my-btn:hover {
    transform: scale(1.05);
  }
}
